<div layout="column">
	<md-toolbar md-scroll-shrink class="md-shadow-bottom-z-1 md-hue-2">
	    <div class="md-toolbar-tools">
	      <h3>
	        <span>Projektek</span>
	      </h3>
	      <span flex></span>
		  <md-button class="md-icon-button md-fab md-mini md-primary" ng-click="addProject()">
		  	<md-icon md-svg-src="img/icons/ic_add_24px.svg" aria-label="Add"></md-icon>
		  </md-button>
	    </div>
  	</md-toolbar>
  	<md-content layout-padding class="ap-grey-bg">
		<md-list flex>
	   		<md-list-item layout-padding class="md-1-line md-whiteframe-2dp ap-wf-margin-bottom ap-white-bg" ng-repeat="project in projects.projects | orderBy:'-last_modified'">
			    <img alt="{{ project.clients[0].name }}" ng-src="{{ project.clients[0].logo }}" class="md-avatar ap-border" />
			    <p><md-button ng-click="openProject(project)">{{ project.name }}</md-button></p>
			    <p class="md-caption">
			    	<span>Létrehozva: {{ project.created }}</span><br>
			    	<span>Módosítva: {{ project.last_modified }}</span>
			    </p>
			    	
			    <span flex></span>
		    	<md-button ng-click="editProject(project)" class="md-icon-button" aria-label="Edit">
	        		<md-icon md-svg-icon="img/icons/ic_mode_edit_24px.svg"></md-icon>
	        	</md-button>
	        	
		    	<md-button ng-click="deleteProject(project.id)" class="md-icon-button" aria-label="Delete">
	        		<md-icon class="md-warn" md-svg-icon="img/icons/ic_delete_24px.svg"></md-icon>
	        	</md-button>
			</md-list-item>	
		</md-list>
  	</md-content>
</div>